@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Mono:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
	font-family: "Chromsky";
	src: url("../assets/texts/Chomsky-399c.woff");
}

@font-face {
	font-family: "Nautical";
	src: url("../assets/texts/VtksBoldandcool-2Vow.ttf");
}

.intro-text,
.content,
.description {
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto Slab", serif;
	&.content {
		color: #233742;
		line-height: 1.625;
	}
	&.intro-text {
		color: #233742;
		line-height: 1.625;
		font-size: 1.5rem;
	}
}

.title {
	hyphens: auto;
	color: #233742;
	font-family: "Open Sans", sans-serif;
	font-size: clamp(3.5rem, 7.4666vw + 1.5rem, 7rem);
	@media screen and (min-width: 1000px) {
		line-height: 1.625;
		font-size: 5.3rem;
	}
}

.loading {
	font-family: "Nautical";
	text-shadow: 1px 1px 5px rgb(18, 61, 119);
}

.cross {
	font-family: "Chromsky", sans-serif;
}